.sidebar__Dashboard {
    display: flex;
    align-items: center;
}

.sidebar__Dashboard h2 {
    color: var(--menu-item-color);
    font-size: 24px;
    font-weight: 500;
    margin-left: 35px;
}

.cyrcle_button {
    background-color: #03bcca;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.plus-icon {
    color: white;
    font-size: 20px;
}

.active-link h2 {
    color: #e79700;
}

.active-link .sidebar__Dashboard {
    background-color: #fef4ee;
    border-right: 5px solid #fc7935;
}

.active-link .menu-item-icon path {
    stroke: #fc7935 !important;
    color: #fc7935;
}
