.Drawer {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px #000000;
  position: fixed;
  transition: all 0.5s ease-in-out;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.isOpen {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
}
.hide {
  visibility: hidden;
}
